<!DOCTYPE>
<html>
    <h1>Weather Checker</h1>
    <form action="" method="post">
        <label for="City"></label>
        <input type="text" id="City" name="city">
        <button type="submit">Submit</button>
        {% if request.method == "POST" %}
            <table>
                {% if is_string %}
                    {{ result }}
                {% else %}
                    {% for key, value in result.items() %}
                        {% if key != "Icon" %}
                            <tr>
                                <td>{{ key }}</td>
                                {% if key == "Lows: " or key == "Highs: " %}
                                    <td>{{ value }}° F</td>
                                {% elif key == "Humidity: " %}
                                    <td>{{ value }}%</td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            </tr>
                        {% else %}
                        <tr>
                          <td>
                            <img src="{{ url_for('static', filename=icon) }}">
                          </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </table>
    </html>
